:root {
  --orange: #f2994a;
  --gray: #4e5150;
  --gray1: #333333;
  --gray2: #4f4f4f;
  --gray3: #828282;
  --gray4: ;
  --gray5: #e0e0e0;
  --gray6: #f2f2f2;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  color: var(--gray3);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  color: var(--gray);
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.2rem;
}

h5 {
  font-size: 1rem;
}

img {
  width: 100%;
  height: auto;
}

.flex {
  display: flex;
}

.wrapper {
  width: 35rem;
  margin: 3.2rem auto 2.4rem;
}

.header {
  margin-bottom: 2rem;
}

.header__title {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 3rem;
  color: var(--gray);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.item__container {
  background: var(--gray6);
  border-radius: 1.2rem;
  padding-top: 3rem;
  padding-left: 2.6rem;
  padding-right: 2.6rem;
  padding-bottom: 1.6rem;
}

.item {
  display: flex;
  gap: 2.8rem;
  margin-bottom: 3rem;
}

.item__image img {
  width: 10.8rem;
  height: 12.4rem;
  border-radius: 1.2rem;
  object-fit: cover;
}

.item__desc {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.item__desc .item__desc__title h4 {
  font-size: 1.2rem;
  line-height: 1.6rem;
  color: var(--gray);
  margin-bottom: 0.6rem;
}

.item__desc .item__desc__title h5 {
  color: var(--orange);
  font-size: 1.4rem;
}

.item__desc .item__desc__title h5 span {
  font-size: 1rem;
  line-height: 1.2rem;
  text-decoration-line: line-through;
  color: var(--gray);
}

.item__desc .item__desc__count {
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--gray3);
  border-radius: 1.2rem;
  padding: 1.6rem 1.2rem 1.2rem;
  max-height: 5rem;
  width: 12rem;
}

.item__desc .item__desc__count .button {
  background: var(--gray5);
  color: var(--gray4);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  font-weight: 300;
}

.item__desc .item__desc__count .button:hover {
  background: var(--orange);
  color: var(--gray6);
}

.amount__container {
  margin-top: 8.4rem;
}

.amount__container .amount {
  border-top: 1px solid var(--gray4);
  padding-top: 0.8rem;
  padding-bottom: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.amount__container .amount h3 {
  font-size: 1.4rem;
  color: var(--gray1);
}

.main .form__container .form h3 {
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: var(--gray1);
}

.form .form__group label {
  display: block;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.2rem;
  color: var(--gray2);
  margin-top: 1.2rem;
  margin-bottom: 0.4rem;
}

.form .form__group .form__input {
  position: relative;
}

.form.shipping__form {
  margin-top: 4.4rem;
}

.form__input img {
  position: absolute;
  width: 1.8rem;
  height: 1.8rem;
  transform: translate(1.4rem, 1.2rem);
}

.form__group .form__input input,
.form__group .form__input select {
  border-radius: 1.2rem;
  color: var(--gray1);
  border: 1px solid var(--gray3);
  font-weight: 600;
  font-size: 1.2rem;
  padding: 1.2rem 2.6rem 1.2rem 4rem;
  width: 100%;
  margin-top: 0;
}

.form__group .form__input select option {
  color: var(--gray1);
  font-weight: 600;
  font-size: 1.2rem;
}

.contact__container {
  display: flex;
  gap: 2.4rem;
}

.contact__container .form__group {
  flex-basis: 50%;
}

.checkbox__container {
  margin-top: 1.8rem;
  margin-bottom: 2rem;
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.checkbox__container #labelSave {
  margin-top: 0;
  margin-bottom: 0;
}

.submit {
  background: var(--orange);
  border-radius: 1.2rem;
  border: none;
  cursor: pointer;
  color: #fff;
  display: block;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.6rem;
  font-style: normal;
  line-height: 2rem;
  margin-left: auto;
  padding: 1.6rem 2rem;
}

@media (min-width: 992px) {
  .wrapper {
    width: 96.2rem;
    margin-top: 6.4rem;
  }

  .header {
    margin-bottom: 5rem;
  }

  .header__title {
    font-size: 3.6rem;
    line-height: 4.4rem;
  }

  .main {
    flex-direction: row-reverse;
    gap: 11.2rem;
  }

  .main .form__container {
    flex-basis: 46.5rem;
  }

  .main .item__container {
    flex-basis: 38.2rem;
  }

  .item__container {
    padding-top: 3.4rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 1.2rem;
    max-height: 53.6rem;
  }

  .item {
    display: flex;
    gap: 2.8rem;
    margin-bottom: 3rem;
  }

  .item__image img {
    width: 10.8rem;
    height: 12.4rem;
    border-radius: 1.2rem;
    object-fit: cover;
  }

  .item__desc {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .item__desc .item__desc__title h4 {
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: var(--gray);
    margin-bottom: 0.6rem;
  }

  .item__desc .item__desc__title h5 {
    color: var(--orange);
    font-size: 1.4rem;
  }

  .item__desc .item__desc__title h5 span {
    font-size: 1rem;
    line-height: 1.2rem;
    text-decoration-line: line-through;
    color: var(--gray);
  }

  .item__desc .item__desc__count {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--gray3);
    border-radius: 1.2rem;
    padding: 1.6rem 1.2rem 1.2rem;
    max-height: 5rem;
    width: 12rem;
  }

  .item__desc .item__desc__count .button {
    background: var(--gray5);
    color: var(--gray4);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: 300;
  }

  .item__desc .item__desc__count .button:hover {
    background: var(--orange);
    color: var(--gray6);
  }

  .amount__container {
    margin-top: 11.4rem;
  }

  .amount__container .amount {
    border-top: 1px solid var(--gray4);
    padding-top: 0.8rem;
    padding-bottom: 1.2rem;
    display: flex;
    justify-content: space-between;
  }

  .amount__container .amount h3 {
    font-size: 1.4rem;
    color: var(--gray1);
  }

  .main .form__container .form h3 {
    font-size: 1.8rem;
    line-height: 2.2rem;
  }

  .form .form__group {
    margin-top: 2rem;
  }

  .form .form__group label {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-top: 1.2rem;
    margin-bottom: 0.6rem;
  }

  .form.shipping__form {
    margin-top: 4.4rem;
  }

  .form__input img {
    position: absolute;
    width: 1.8rem;
    height: 1.8rem;
    transform: translate(1.4rem, 1.2rem);
  }

  .form__group .form__input input,
  .form__group .form__input select {
    font-size: 1.2rem;
    padding: 1.2rem 2.6rem 1.2rem 4rem;
    width: 100%;
    margin-top: 0;
  }

  .contact__container label {
    margin-top: 0 !important;
  }

  .checkbox__container {
    margin-top: 3.2rem;
    margin-bottom: 2.8rem;
  }
}
